@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自訂字體設定 */
@layer base {
  body {
    font-family: 'Noto Sans TC', 'Noto Sans CJK TC', sans-serif;
  }
}

/* 全域樣式 */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
